 :root {
            --color-accent: #e6e0d8;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html,
        body {
            width: 100%;
            height: 100%;
            font-family: "Manrope";
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .preloader-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: var(--color-accent);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }

        .preloader-overlay-content {
            width: 40%;
        }

        .preloader-images {
            position: relative;
            height: 550px;
        }

        .preloader-img-holder {
            position: relative;
            width: 80%;
            height: 100%;
            margin: 0 auto;
            z-index: 2;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        .preloader-img-holder img {
            position: absolute;
            top: 0;
            left: -100%;
        }

        .preloader-text {
            position: relative;
            margin: 1em 0;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        .preloader-counter,
        .preloader-logo p {
             font-family:'Times New Roman', Times, serif;
            font-size: 200px;
            text-align: center;
            text-transform: uppercase;
        }

        .preloader-counter p {
            line-height: 100%;
        }

        .preloader-counter p span,
        .preloader-logo p span {
            position: relative;
            z-index: -2;
            color: #000000;
        }

        .preloader-logo {
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translateX(-50%);
        }

        .preloader-logo p {
            font-family:'Times New Roman', Times, serif;
            line-height: 100%;
            font-size: 120px;
        }

        .preloader-logo p span {
            position: relative;
            top: 200px;
        }

        .preloader-nav {
            position: fixed;
            top: -200px;
            width: 100%;
            padding: 1em;
            background-color: var(--color-accent);
            display: flex;
            align-items: center;
            z-index: 1;
        }

        .preloader-nav>div {
            flex: 1;
        }

        .preloader-nav a,
        .preloader-nav p {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 15px;
            color: #000;
            font-weight: 500;
        }

        .preloader-nav-logo a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 15px;
            color: #000;
            font-weight: 500;
        }

        .preloader-menu {
            display: flex;
            justify-content: center;
        }

        .preloader-shop {
            display: flex;
            justify-content: flex-end;
            gap: 2em;
        }

        .preloader-shop a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 15px;
            color: #000;
            font-weight: 500;
        }

        .preloader-hero {
            width: 100vw;
            height: 100vh;
        }

        .preloader-hero img {
            transform: scale(2);
        }

        .preloader-hero-copy {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        .preloader-hero-copy h1 {
            font-weight: 400;
            font-size: 10vw;
            color: var(--color-accent);
            line-height: 100%;
        }

        .preloader-hero-copy h1 span {
            position: relative;
            top: 30vw;
        }

        @media(max-width: 900px) {
            .preloader-overlay-content {
                width: 75%;
            }

            .preloader-counter,
            .preloader-logo p {
                font-size: 100px;
            }
        }