.pinned {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.sticky-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.sticky-header h1 {
  font-size: 15vw;
  font-weight: lighter;
  color: #F3F4F6;
  text-align: center;
}

.card {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 1em;
  will-change: transform;
  overflow: hidden;
}

/* .card {
  position: relative;
  background: #171717;
  border-radius: 1em;
} */

/* .card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    rgba(43, 18, 178, 0.7),
    rgba(83, 18, 178, 0.7),
    rgba(120, 18, 178, 0.7),
    rgba(171, 48, 194, 0.7),
    rgba(194, 48, 153, 0.7)
  );
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
} */

.card {
  background-color: #171717;
  background-size: cover;
  border: 1px solid #6A7282
}

.card-2 {
  background-color: #171717;
  background-size: cover;
  border: 1px solid #6A7282
}

.card-3 {
  background-color: #171717;
  background-size: cover;
  border: 1px solid #6A7282
}

.card-4 {
  background-color: #171717;
  background-size: cover;
  border: 1px solid #6A7282
}

.card-phase {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.125em 0.25em;
  border-radius: 0.25em;
  color: #000;
}

.card-phase p {
  font-size: 24px;
  font-weight:400;
}

.card .card-phase {
  background-color: #F3F4F6;
}

/* .card-2 .card-phase {
  background-color: #7dd8cd;
}

.card-3 .card-phase {
  background-color: #e0ff57;
}

.card-4 .card-phase {
  background-color: #AF63E5;
} */

.card-title {
  text-align: center;
}

.card-title p {
  font-size: 36px;
}

.card-title h1 {
  font-size: 80px;
  font-weight: lighter;
  line-height: 90%;
}

.card .card-title {
  color: #F3F4F6;
}

.gradientText {
  background: #527282;
  -webkit-background-clip: text;
  color: transparent;
}


.card-2 .card-title {
  color: #F3F4F6;
}

.card-3 .card-title {
  color: #F3F4F6;
}

.card-4 .card-title {
  color: #F3F4F6;
}

.progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 1) 100%
  );
}

.progress {
  width: 100%;
  height: 0%;
  background-color: #353531;
}

.indices {
  position: absolute;
  top: 0;
  right: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
  opacity: 0;
}

.index {
  text-align: right;
  opacity: 0.25;
}

.index p {
  text-decoration: line-through;
  text-transform: uppercase;
  font-size: 0.95rem;
}

.index p:nth-child(2) {
  font-family: "Absolut Sans 2021", sans-serif;
  font-size: 0.95rem;
}

.index p:nth-child(3) {
  font-family: "Absolut Headline Web 2021", sans-serif;
  font-size: 1.125rem;
}

.index-1 p {
  color: #ecb74c;
}

.index-2 p {
  color: #7dd8cd;
}

.index-3 p {
  color: #e0ff57;
}

.index-4 p {
  color: #7dd8cd;
}

@media (max-width: 900px) {
  .card {
    width: 75%;
    height: 40%;
  }

  .card-phase p {
    font-size: 18px;
  }

  .card-title p {
    font-size: 24px;
  }

  .card-title h1 {
    font-size: 40px;
  }

  .card-title h1 span {
    -webkit-text-stroke: 0.75px #fff;
  }

  .indices {
    right: 15px;
  }

  .index p:nth-child(2),
  .index p:nth-child(3) {
    display: none;
  }
}